:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  .subdvision-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }

  mat-spinner {
    display: flex;
    align-self: center;
  }

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
  }
}
